package   ${package.Service};

import ${superServiceClassPackage};
import ${package.Entity}.${entity};

/**
 * <p>
 * ${table.comment} 服务类
 * </p>
 *
 * @author ${cfg.author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

}
