package   ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * <p>
 * ${table.comment} 服务类
 * </p>
 *
 * @author ${cfg.author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    /**
     * 仅有一条数据
     * @param wrapper
     * @return
     */
    default ${entity} getOnly(EntityWrapper<${entity}> wrapper){
        wrapper.last("limit 1");
        return this.selectOne(wrapper);
    };
}
